* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body,main {
	height: 100%;
}

.First {
	height: 100%;
	background-image: url(../img/Logo.jpg);
	background-position: top;
	-webkit-background-size: cover;
	background-size: cover;
}

.Header {
	color: whitesmoke;
	width: 100%;
	text-align: left;
	padding-top: 150px;
	padding-bottom: 70px;
	padding-left: 200px;
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 20px;
}

.contact li {
	text-align: left;
	font-size: 30px;
	padding-left: 200px;
}